* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#e66465, #9198e5);
}

.text {
    position: relative;
    font-weight: 1000;
    align-self: center;
    font-size: 2rem;
    top: 5rem;
    font-family: cursive;

}

#btn {
    align-self: center;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 2rem;
}

.btn {
    padding: .75rem 2rem;
    border: 0;
    font-weight: 600;
    position: relative;
    margin: 0 2rem;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    top: 10rem;
    align-self: center;
}

#btn1 {
    background-color: green;
    border-radius: 1.25rem;
}

#btn2 {
    background-color: red;
    border-radius: 1.25rem;
}

#btn1:active {
    background-color: darkgreen;
    border: .20rem solid lightgreen;


}